body {
    background-image: url('./assets/images/fondo_snake.png');
    background-repeat: repeat;
    background-size: 50% auto;
    background-position: top center;
    background-color: #c8f0c3;
    text-align: center;
}

.title-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;

}
.title-container img {
    width: 100%;
    height: auto;
    display: block;
}

#game {
    width: 75%;
    max-width: 800px;
    height: auto;
    max-height: calc(100vh - 250px);
    background-color: #c8f0c3;
}