.menuContainer {
    background-image: url('../assets/images/snake_img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.gameOverContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.boxScore{
    background-image: url('../assets/images/background_score.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 47%;
    height: 55%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: min(2vw, 2rem);
}

.boxScore p{
    margin: 0;
}

.boxButton{
    position: absolute;
    display: flex;
    top: 70%;

    width: 90%;
    height: 15%;
}

.button {
    all: unset;
    background-image: url('../assets/images/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
    margin-bottom: 10%;

    font-size: min(3vw, 2rem);
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: rgba(249, 245, 10, 0.829);
    text-shadow: 1px 1px 2px #000;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}